src/wsdl/localhost_8084/chungtoi/ChungToiWSServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.integration.chungtoi/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.integration.chungtoi/" name="ChungToiWSServer">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.integration.chungtoi/" schemaLocation="http://localhost:8084/chungtoi/ChungToiWSServer?xsd=1"/>
</xsd:schema>
</types>
<message name="preRegister">
<part name="parameters" element="tns:preRegister"/>
</message>
<message name="preRegisterResponse">
<part name="parameters" element="tns:preRegisterResponse"/>
</message>
<message name="getOppositePlayer">
<part name="parameters" element="tns:getOppositePlayer"/>
</message>
<message name="getOppositePlayerResponse">
<part name="parameters" element="tns:getOppositePlayerResponse"/>
</message>
<message name="isMyTurn">
<part name="parameters" element="tns:isMyTurn"/>
</message>
<message name="isMyTurnResponse">
<part name="parameters" element="tns:isMyTurnResponse"/>
</message>
<message name="movePiece">
<part name="parameters" element="tns:movePiece"/>
</message>
<message name="movePieceResponse">
<part name="parameters" element="tns:movePieceResponse"/>
</message>
<message name="hasGame">
<part name="parameters" element="tns:hasGame"/>
</message>
<message name="hasGameResponse">
<part name="parameters" element="tns:hasGameResponse"/>
</message>
<message name="endGame">
<part name="parameters" element="tns:endGame"/>
</message>
<message name="endGameResponse">
<part name="parameters" element="tns:endGameResponse"/>
</message>
<message name="getGameStatus">
<part name="parameters" element="tns:getGameStatus"/>
</message>
<message name="getGameStatusResponse">
<part name="parameters" element="tns:getGameStatusResponse"/>
</message>
<message name="insertPiece">
<part name="parameters" element="tns:insertPiece"/>
</message>
<message name="insertPieceResponse">
<part name="parameters" element="tns:insertPieceResponse"/>
</message>
<message name="createPlayer">
<part name="parameters" element="tns:createPlayer"/>
</message>
<message name="createPlayerResponse">
<part name="parameters" element="tns:createPlayerResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="ChungToiWSServer">
<operation name="preRegister">
<input wsam:Action="http://ws.integration.chungtoi/ChungToiWSServer/preRegisterRequest" message="tns:preRegister"/>
<output wsam:Action="http://ws.integration.chungtoi/ChungToiWSServer/preRegisterResponse" message="tns:preRegisterResponse"/>
</operation>
<operation name="getOppositePlayer">
<input wsam:Action="http://ws.integration.chungtoi/ChungToiWSServer/getOppositePlayerRequest" message="tns:getOppositePlayer"/>
<output wsam:Action="http://ws.integration.chungtoi/ChungToiWSServer/getOppositePlayerResponse" message="tns:getOppositePlayerResponse"/>
</operation>
<operation name="isMyTurn">
<input wsam:Action="http://ws.integration.chungtoi/ChungToiWSServer/isMyTurnRequest" message="tns:isMyTurn"/>
<output wsam:Action="http://ws.integration.chungtoi/ChungToiWSServer/isMyTurnResponse" message="tns:isMyTurnResponse"/>
</operation>
<operation name="movePiece">
<input wsam:Action="http://ws.integration.chungtoi/ChungToiWSServer/movePieceRequest" message="tns:movePiece"/>
<output wsam:Action="http://ws.integration.chungtoi/ChungToiWSServer/movePieceResponse" message="tns:movePieceResponse"/>
</operation>
<operation name="hasGame">
<input wsam:Action="http://ws.integration.chungtoi/ChungToiWSServer/hasGameRequest" message="tns:hasGame"/>
<output wsam:Action="http://ws.integration.chungtoi/ChungToiWSServer/hasGameResponse" message="tns:hasGameResponse"/>
</operation>
<operation name="endGame">
<input wsam:Action="http://ws.integration.chungtoi/ChungToiWSServer/endGameRequest" message="tns:endGame"/>
<output wsam:Action="http://ws.integration.chungtoi/ChungToiWSServer/endGameResponse" message="tns:endGameResponse"/>
</operation>
<operation name="getGameStatus">
<input wsam:Action="http://ws.integration.chungtoi/ChungToiWSServer/getGameStatusRequest" message="tns:getGameStatus"/>
<output wsam:Action="http://ws.integration.chungtoi/ChungToiWSServer/getGameStatusResponse" message="tns:getGameStatusResponse"/>
</operation>
<operation name="insertPiece">
<input wsam:Action="http://ws.integration.chungtoi/ChungToiWSServer/insertPieceRequest" message="tns:insertPiece"/>
<output wsam:Action="http://ws.integration.chungtoi/ChungToiWSServer/insertPieceResponse" message="tns:insertPieceResponse"/>
</operation>
<operation name="createPlayer">
<input wsam:Action="http://ws.integration.chungtoi/ChungToiWSServer/createPlayerRequest" message="tns:createPlayer"/>
<output wsam:Action="http://ws.integration.chungtoi/ChungToiWSServer/createPlayerResponse" message="tns:createPlayerResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.integration.chungtoi/ChungToiWSServer/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.integration.chungtoi/ChungToiWSServer/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="ChungToiWSServerPortBinding" type="tns:ChungToiWSServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="preRegister">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOppositePlayer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isMyTurn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="movePiece">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hasGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="endGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGameStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertPiece">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPlayer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ChungToiWSServer">
<port name="ChungToiWSServerPort" binding="tns:ChungToiWSServerPortBinding">
<soap:address location="http://localhost:8084/chungtoi/ChungToiWSServer"/>
</port>
</service>
</definitions>